# build and cache
cache/
out/

#create proposal
~/aips/aave-v3-crosschain-listing-template/script/CreateLUSDProposal.s.sol
# general
.env

# editors
.idea
.vscode

# well, looks strange to ignore package-lock, but we have only pretter and it's temproray
package-lock.json
node_modules

broadcast
